*{
    margin: 0;
    padding: 0;
}
body
{
    background: #FFFDE3;
}

a
{
    text-decoration: none;
}

.mainCard
{
    position: relative;
    height: 90vh;
    width : 95%;
    left: 2.5%;
    top: 5vh;
    border-radius: 5vh;
    background-color: #CFE8A9;
    display: flex;
    flex-direction: column;
    gap:5vh;
}

.card
{
    background: #224B0C;
    position: relative;
    height: 15vh;
    width: 80%;
    left: 10%;
    top:22.5vh;
    border-radius: 5vh;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 5vw;
    color: #F5E8C7;
    text-align: center;
    padding-top:5vh;
}

.card:hover
{
    background-color: #59CE8F;
}

.playground
{
    display : flex;
    gap: 6vw;

}

.userSelection{
    padding-top: 5vh;
    position: relative;
    display: flex;
    flex-direction: column;
    height : 75vh;
    left: 2.5%;
    top: 5vh;
    width: 30%;
    border-radius: 5vh;
    background: #224B0C;

}

.display{
    position: relative;
    height : 80vh;
    top: 5vh;
    width: 60%;
    border-radius: 5vh;
    background: #224B0C;
}

.slider {
    position: relative;
    top: 0;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
    left: 50%;
    transform: translateX(-40%);
    width: 80%;
    height: auto;
    display: inline-block;
    align-items: center;
    justify-content: center;
    }
    .slider p {
    font-size: 3vh;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    padding-left: 1vw;
    color: white;
    }
    .slider input[type="range"] {
    appearance: none !important;
    -webkit-appearance:none !important;
    width: 40%;
    height: 2.5px;
    background: #A3B1E1;
    border: none;
    outline: none;
    }
    .slider input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    width: 2vh;
    height:2vh;
    border: 2px solid #CFE8A9;
    background: #CFE8A9;
    border-radius: 50%;
    cursor: pointer;
    }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.slider-value {
    display: border-box;
    margin-left: 1rem;
    margin-bottom: 0.5rem;
    width: 10%;
    text-align: center;
    color: black;
    font-size: 1rem;
    font-weight: bold;
    background: white;
    border: 2px white solid;
    border-radius: 0.5rem;
}

.slider-value::selection {
    background:#59CE8F;
    color: white;
}

.simulation {
    background: white;
    height: 28vh;
    width: 94%;
    margin-top: 3vh;
    margin-left: 3%;
    border-radius: 3vh;
}

.wall {
    position: relative;
    /* z-index: 314; */
    margin-left: 20px;
    top: 0;
    height: 100%;
    aspect-ratio: auto;
}

.beam {
    position: absolute;
    margin-left: 0px;
    top: 20%;
    height: 2.5vh;
    width: 0px;
}

.pointer {
    position: absolute;
    width: 20px;
    margin-left: -10px;
    bottom: calc(80%);
}

.line {
    position: absolute;
    width: 2.5px;
    margin-left: 1.25 px;
    height: 0px;
    bottom: calc(80%);
    border-radius: 2.5px;
}

.udlimg {
    position: absolute;
}

.udlminpointer {
    width: 20px;
    margin-left: -10px;
    bottom: calc(80%);
}

.udlmaxpointer {
    width: 20px;
    margin-left: -10px;
    bottom: calc(80%);
}

.udlminline {
    width: 2px;
    margin-left: -1px;
    height: 0px;
    bottom: calc(80%);
}

.udlmaxline {
    width: 2px;
    margin-left: -1px;
    height: 0px;
    bottom: calc(80%);
}

.udlarea {
    width: 0;
    height: 0;
    bottom: 80%;
}

.uvlimg {
    position: absolute;
}

.uvlminpointer {
    width: 20px;
    margin-left: -10px;
    bottom: calc(80%);
}

.uvlmaxpointer {
    width: 20px;
    margin-left: -10px;
    bottom: calc(80%);
}

.uvlminline {
    width: 2px;
    margin-left: -1px;
    height: 0px;
    bottom: calc(80%);
}

.uvlmaxline {
    width: 2px;
    margin-left: -1px;
    height: 0px;
    bottom: calc(80%);
}

.uvlrectangle {
    width: 0;
    height: 0;
    bottom: calc(80%);
}

.uvltriangle {
    width: 0;
    height: 0;
    bottom: calc(80%);
}

.uvl-value input[type="range"] {
    opacity: 0.5;
}

.support-value input {
    opacity: 0.5;
}

.uvl-value input[type="number"] {
    opacity: 0.5;
}

.udl-value input[type="range"] {
    opacity: 0.5;
}

.udl-value input[type="number"] {
    opacity: 0.5;
}

.pointload-value input[type="range"] {
    opacity: 0.5;
}

.pointload-value input[type="number"] {
    opacity: 0.5;
}

.graphs {
    display: flex;
}

.slider input[type="submit"] {
    width: 4rem;
    height: 1.5rem;
    color: white;
    background-color: #59CE8F;
    border: none;
    border-radius: 1rem;
    font-weight: bold;
}

.slider input[type="submit"]:disabled {
    opacity: 0.5;
}

.text
{
    color: white;
    padding-bottom: 5px;
    font-family: 'Roboto', sans-serif;
}

.fsupport
{
    position: absolute;
    width: 30px;
    height: 30px;
    top: calc(22%);
    margin-left: -15px;
}

.rsupport
{
    position: absolute;
    width: 30px;
    top: calc(22%);
    margin-left: -15px;
}

#postLabButton
{
    height: 5vh;
    opacity: 0;
    width: 60%;
    position: relative;
    left: 20%;
    top: 10vh;
    border-radius: 2.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2vw;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: green;
    background-color:#F5E8C7;
    cursor: grab;
}

.postLabQuestions
{
    height: 0%;
    width:100%;
    display: flex;
    position: relative;
    top: 20vh;
    left: 5vh;
    gap: 5vh;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
    color: white;
}

li{
    padding-top: 10px;
}

#postSubmit {
    width: 4rem;
    height: 1.5rem !important;
    color: white;
    background-color: #59CE8F;
    border: none;
    border-radius: 1rem;
    font-weight: bold;
    margin-left: 10px;
}

#postSubmit:disabled {
    opacity: 0.5;
}